<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
          <li class="nav-item active">
              <a [routerLink]="['/personInfo']" class="button fancy-button">Person info</a>
          </li>
          <li class="nav-item">
              <a [routerLink]="['/loginInfo']" class="button fancy-button">Login info</a>
          </li>
          </ul>
      </div>
  </nav>
</div>
<router-outlet></router-outlet>

