<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h2>3 usuarios con más logins</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Login dates</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let userLloginInfo of maxLoginInfo">
            <td>{{ userLloginInfo.id }}</td>
            <td>{{ userLloginInfo.nombre }}</td>
            <td>
              <table class="table">
                <tbody>
                  <tr *ngFor="let date of userLloginInfo.loginDate">
                    <td>{{ date | date: "dd/MM/yyyy HH:mm" }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm">
      <h2>3 logins más recientes</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Login date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let loginInfo of recentLoginInfo">
            <td>{{ loginInfo.id }}</td>
            <td>{{ loginInfo.nombre }}</td>
            <td>{{ loginInfo.loginDate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
