<div class="container-fluid">
   <div class="row">
      <div class="col-sm">
         <h2>Usuarios</h2>
         <table class="table">
         <thead>
            <tr>
               <th scope="col">ID</th>
               <th scope="col">Nombre</th>
               <th scope="col">Apellido</th>
               <th scope="col">Direccion</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let userDetail of userDetails">
               <td>{{ userDetail.id }}</td>
               <td>{{ userDetail.nombre }}</td>
               <td>{{ userDetail.apellido }}</td>
               <td>
               <table class="table">
                  <thead>
                     <tr>
                        <th scope="col">Calle y altura</th>
                        <th scope="col">Ciudad</th>
                        <th scope="col">Provincia</th>
                        <th scope="col">Codigo Postal</th>
                        <th scope="col">Pais</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr >
                     <td>{{ userDetail.direccion.calleAltura }}</td>
                     <td>{{ userDetail.direccion.ciudad }}</td>
                     <td>{{ userDetail.direccion.provincia }}</td>
                     <td>{{ userDetail.direccion.codigoPostal }}</td>
                     <td>{{ userDetail.direccion.pais }}</td>
                     </tr>
                  </tbody>
               </table>
               </td>
            </tr>
         </tbody>
         </table>
      </div>
   </div>
</div>
    

